{% extends 'base/main.html' %} {% block content %}

<div class="header-bar">

        <div style="padding: 10PX;">
            <h1 style="color: black;">Hello {{request.user|title}}</h1>
            <h3 style="margin:0">You have <i>{{count}}</i> incomplete task{{ count|pluralize:"s" }}</h3>
        </div>
        <div style="padding-left: 570px;">
            <h3 style="color: black;">{% if request.user.is_authenticated %}
                <a style="color:black" href="{% url 'logout' %}">Logout</a> {% else %}
                <a href="{% url 'login' %}">Login</a> {% endif %}</h3>
        </div>
    
</div>

<div >
   
    {% if tasks|length > 0 %}
    <a style=" padding: 20px; border: #e53935;"  id="add-link" href="{% url 'task-create' %}"> ADD TASK</a>
    {% endif %}
</div>


<form style="display: none;" id="reorderForm" method="post" action="{% url 'task-reorder' %}">
    {% csrf_token %}
    <input type="hidden" id="positionInput" name="position">
</form>


<div id="tasklist" class="task-items-wrapper">
    {% for task in tasks %}
    <div style="padding: 5px;" class="task-wrapper" data-position="{{task.pk}}">
        <div style="padding-left: 40px;" class="task-title">
            {% if task.complete %}
            <div class="task-complete-icon"></div>
            <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i> {% else %}
            <div class="task-incomplete-icon"></div>
            <a href="{% url 'task-update' task.id %}">{{task}}</a> {% endif %}
        </div>
        <div class="task-controls">
            <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
            <span class="handle">&nbsp;</span>
        </div>
    </div>

    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h3>No new tasks are created.</h3>
        <h3>Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'task-create' %}">New task</a> ! </h3>
    </div>
    {% endfor %}
</div>

{% endblock content %}

